@hogia:registry=https://pkgs.dev.azure.com/Hogia/_packaging/StarNpm/npm/registry/
always-auth=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D5259E54-AFB6-44CE-BF08-5A067FC7AD84